In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
os.chdir("C:\\Users\\ahmed\\Desktop")
df_original = pd.read_pickle('df_merged_ie.pkl')
df = df_original[df_original.totaldistance < 1000*(10+2)]
df = df[df.totaldistance > 1000*(10-2)]
df = df[df.country_code == 'is']
df

,id,hashedathleteid,startdatelocal,totaldistance,startlngapprox,startlatapprox,city_name,country_code
96268,135394549042741,eb2ca26ab8f89bd648a596d47dc3b42cadc97fec865229...,2015-07-31 16:04:57,10020.0,-18.09,65.68,akureyri,is
198452,135755326292418,0d98fec343969e6c0a7e745dd7c1eb8affbe9efffd6f2a...,2014-06-02 05:18:51,8464.1,-21.89,64.14,kopavogur,is
290720,136193412964373,60a248f37321b38c1c51cabd4243c79ca0cf08fcbb170b...,2014-02-09 17:53:09,11041.3,-21.96,64.06,kopavogur,is
330764,137516262884489,388c8236203794ecba22d132cd2368df463c111dcdf029...,2015-06-20 17:47:20,8115.2,-21.96,64.14,reykjavik,is
357162,137327284325931,e6da74280e8b3f31af81af661c997687a66135d002cac9...,2017-04-22 08:43:33,9906.0,-21.98,64.15,reykjavik,is
...,...,...,...,...,...,...,...,...
346619808,134604275059946,e65e2194675503ac0bf0281c2b42b95f9cdbec98cba477...,2017-09-03 09:11:25,10374.6,-19.54,63.69,hvolsvollur,is
346681798,134681584474129,d1a58346b83e0354fceedc94a9554ea04b6827a2152623...,2015-09-13 11:08:20,10052.3,-21.92,64.12,kopavogur,is
346821605,133384504344920,bd9bd7a151a2d3254feb582374945a04204d98f4746802...,2015-06-13 11:13:27,8138.4,-20.73,64.22,selfoss,is
346910617,135566347736622,8199538fff416e0ec18d15a69b9807fcd7b7188b455a75...,2016-07-16 12:32:30,10842.5,-21.85,64.12,kopavogur,is
347184835,132834748535964,39bbf8401f535ed9e1d9d2381e15e9c237ef94b817fc73...,2017-10-28 09:06:37,9209.7,-21.96,64.06,kopavogur,is

In [3]:
#df2 = df.set_index('hashedathleteid')
df2 = df.drop(columns= 'city_name')
df2.rename(columns = {'startlatapprox': 'lat'}, inplace = True)
df2.rename(columns = {'startlngapprox': 'lon'}, inplace = True)
df2.sort_values(by=['hashedathleteid'], inplace=True)
#df2 = df2[df2.hashedathleteid == '0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5a052e44ba5cf758f3b']
df2
#.iloc[0]['hashedathleteid']
#now we have index of id and grouped together

,id,hashedathleteid,startdatelocal,totaldistance,lon,lat,country_code
156648562,295571059384836,0065a1f3392109066c2a71fcb5df6f0f1b2c64e85732f2...,2014-08-21 07:15:08,11381.6,-21.92,64.14,is
216961319,180388632825,0065a1f3392109066c2a71fcb5df6f0f1b2c64e85732f2...,2014-08-24 08:23:36,9299.2,-18.09,65.68,is
306985785,94343251624164,0075f6c843b4ae33f59fe00517fc7893ddc24316aa880c...,2017-03-10 13:05:03,8046.7,-19.14,63.44,is
13007155,149035365172168,00d1049caa86067a254f6c0c9dfae365a636730c5e5aba...,2017-04-20 09:12:26,9523.9,-15.45,64.34,is
172920700,313146065559010,00d1049caa86067a254f6c0c9dfae365a636730c5e5aba...,2017-04-15 07:51:01,8502.1,-21.88,64.13,is
...,...,...,...,...,...,...,...
29031478,165802917498578,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2015-05-06 18:27:56,10737.4,-21.77,64.14,is
9380849,146965190942093,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2014-12-16 17:16:25,10754.0,-21.77,64.14,is
14065208,146956601005609,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2014-11-22 11:42:17,8616.4,-21.92,64.14,is
112093808,248747325918994,ffaaca09254b37b5b55f08085973cf18e1c4866efdda5b...,2016-06-18 10:31:34,10006.9,-21.89,64.12,is
237307089,19164144077116,ffaaca09254b37b5b55f08085973cf18e1c4866efdda5b...,2016-06-21 11:07:27,10107.9,-21.89,64.11,is

In [4]:
#now loop over each id and see if they have the goal distance
df3a = df_original[df_original.hashedathleteid == '0065a1f3392109066c2a71fcb5df6f0f1b2c64e85732f2c245fe713d6eab4e2d']
df3a = df3a[df3a.totaldistance > 1000*(20)]
len(df3a)
#while len != 0 then we graph it

23

In [5]:
df3 = df_original[df_original.totaldistance < 1000*(20+2)]
df3 = df3[df3.totaldistance > 1000*(20-2)]
df3 = df3[df3.country_code == 'is']
df3 = df3.drop(columns= 'city_name')
df3.rename(columns = {'startlatapprox': 'lat'}, inplace = True)
df3.rename(columns = {'startlngapprox': 'lon'}, inplace = True)
df3.sort_values(by=['hashedathleteid'], inplace=True)
#df3
#df3 = df3[df3.hashedathleteid == '0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5a052e44ba5cf758f3b']
df3

,id,hashedathleteid,startdatelocal,totaldistance,lon,lat,country_code
4552042,139491947843875,041cd62c105ce7c80b419df9763bae5f534caf4c083499...,2017-06-23 21:00:46,21266.5,-21.87,64.14,is
216588627,4724464029935,05b34e42da60752965b2892064f458d86dd384e5a9ad5b...,2013-08-24 08:41:04,21212.1,-21.94,64.15,is
286236756,70995809406134,0682954023048a665cad72f3f1256e5827f313bbc0ad72...,2017-10-21 10:01:16,21301.5,-21.84,64.12,is
339866626,128960688031377,06d5ac37de1053ce4699f689898b6271e0511404636e22...,2014-08-23 08:42:32,21324.0,-21.94,64.15,is
214429436,354498010683228,08abddfd2ba853ce2aa37b1c68a247b5589c7490c16d5f...,2017-04-02 07:38:38,21101.7,-21.90,64.14,is
...,...,...,...,...,...,...,...
206760010,348192998694637,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2015-10-15 16:31:32,20423.3,-21.92,64.15,is
326277163,110990544868837,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2016-05-01 13:42:30,19952.8,-21.92,64.14,is
29033798,165802917498945,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2015-11-15 10:08:04,20027.2,-21.92,64.14,is
9365463,146965190938174,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2015-05-09 08:08:28,19333.7,-21.93,64.15,is
275950447,61976378081507,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2016-01-03 11:14:08,19718.3,-21.92,64.14,is

In [6]:
#s1 = pd.merge(df2, df3, how='inner', on=['hashedathleteid'])
#s1
s2 = pd.merge(df2, df3, on='hashedathleteid')
#remove duplicates
s2 = s2.drop_duplicates(subset='hashedathleteid', keep='first')
s2
#s2 now contains id of people who ran the "currentDistance" & "projected distance"

#now we must match all of them with the original df to get all their practice and graph it
#s3 = s2[s2.hashedathleteid == '0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5a052e44ba5cf758f3b']
#s3
#s2.iloc[0]['hashedathleteid']

,id_x,hashedathleteid,startdatelocal_x,totaldistance_x,lon_x,lat_x,country_code_x,id_y,startdatelocal_y,totaldistance_y,lon_y,lat_y,country_code_y
0,92599494903399,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2014-08-28 19:07:05,10104.0,-21.86,64.12,is,320052372969342,2016-08-06 12:00:47,21259.0,-16.45,65.88,is
64,135755326292418,0d98fec343969e6c0a7e745dd7c1eb8affbe9efffd6f2a...,2014-06-02 05:18:51,8464.1,-21.89,64.14,is,18915035974528,2014-06-03 14:50:29,21102.7,-21.89,64.14,is
66,134647224732155,12d7739289efc457fd58230cc23733248d4cb309e44e9c...,2017-07-04 07:05:19,10173.5,-15.21,64.26,is,49916109916173,2017-07-03 05:26:57,20630.7,-16.89,63.99,is
67,243885422940934,174024b33c0bea1462dc14c184c23273c52080e9b001e1...,2016-08-15 17:08:34,11022.2,-21.96,64.14,is,17360257811098,2016-08-20 08:37:28,21371.7,-21.94,64.15,is
133,273555057023754,1ac2762c511c47135db601c469e66e8e1ddd025235f829...,2016-08-24 08:21:54,8435.0,-20.30,64.31,is,273555057020033,2016-08-20 08:40:32,21284.7,-21.94,64.15,is
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62486,342875829175343,f34d5b21b365e51bba0c4de0c0ff01ddc1f441f1991912...,2017-06-16 17:25:44,10063.7,-20.84,65.25,is,7602092116344,2017-06-23 21:01:31,21272.6,-21.87,64.14,is
62487,133968619896962,f86bf183eee8b78c752bdc88ca4700a22736780db51238...,2015-08-20 16:26:37,9056.0,-21.92,64.14,is,130919193117241,2015-08-22 08:40:18,21305.6,-21.94,64.15,is
62488,33045478381349,fc9fd744f6428617817187ce5d40edaaaa800ec9889812...,2014-08-22 18:00:25,9639.4,-21.91,64.13,is,16595753636155,2014-08-23 08:42:32,21256.4,-21.94,64.15,is
62489,211329570839836,fefd3dacd9304c02c7d57907911cc2ad3360c099324615...,2015-10-14 17:33:03,11976.1,-21.79,64.11,is,71262097383232,2016-10-08 09:04:53,20281.2,-21.79,64.11,is
67889,110999134800014,ffa2033e629f82ff1ba57e899b4e9766203594ad92b0b1...,2016-02-10 17:41:09,8978.1,-21.92,64.15,is,99110665325440,2014-11-23 14:42:42,19365.4,-21.92,64.14,is

In [7]:
import random
#requiredid = '0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5a052e44ba5cf758f3b'
list_of_ids = s2['hashedathleteid'].to_list()

#len(list_of_ids)
#for i in list_of_ids: 
#    print(i)
for x in range(0, 2):
    final = df_original[df_original['hashedathleteid'].str.contains(random.choice(list_of_ids))] 
    
final

#requiredid = '0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5a052e44ba5cf758f3b'
#final = df_original[df_original['hashedathleteid'].str.contains(requiredid)] 
#final

,id,hashedathleteid,startdatelocal,totaldistance,startlngapprox,startlatapprox,city_name,country_code
599629,135050951660906,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2015-07-17 09:36:18,4745.0,-21.91,64.10,kopavogur,is
10192609,145908628985460,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2014-08-14 17:26:50,17617.7,-21.91,64.09,kopavogur,is
10199792,145908628987355,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2014-07-15 17:16:02,4061.3,-21.72,64.23,kopavogur,is
10208121,145917218917819,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2014-08-09 14:25:15,11152.0,-21.91,64.09,kopavogur,is
10212572,145917218919039,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2014-08-13 11:26:51,4777.5,-21.93,64.12,kopavogur,is
...,...,...,...,...,...,...,...,...
334211550,122621316306648,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2016-05-06 06:04:24,6240.7,-21.91,64.09,kopavogur,is
334546597,120430882980083,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2015-07-18 09:21:01,8011.3,-21.91,64.10,kopavogur,is
340269177,128522601371507,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2014-08-18 20:57:58,6207.4,-21.91,64.09,kopavogur,is
344439410,134123238723442,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2016-04-16 10:10:52,1217.0,-21.85,64.12,kopavogur,is
345128059,135008001987464,0d40fd9180b8ab80782b2604ba24ab0a0e377872f3c8f5...,2015-07-16 08:01:14,9420.6,-21.91,64.09,kopavogur,is

In [8]:
list1 = df_original.totaldistance[df_original['hashedathleteid'].str.contains(list_of_ids[0])]
list2 = df_original.totaldistance[df_original['hashedathleteid'].str.contains(list_of_ids[2])]
list1
#df_original.loc[df_original['hashedathleteid'] == list_of_ids[1]]
#inter_df= df_original[['startdatelocal']]
#inter_df['runnerA'] = list1
#inter_df['runnerB'] = list2
#inter_df

599629        4745.0
10192609     17617.7
10199792      4061.3
10208121     11152.0
10212572      4777.5
              ...
334211550     6240.7
334546597     8011.3
340269177     6207.4
344439410     1217.0
345128059     9420.6
Name: totaldistance, Length: 161, dtype: float64

In [9]:
in_df = df_original[df_original['hashedathleteid'].str.contains(list_of_ids[0])]
in_df = in_df[['startdatelocal','totaldistance']]
list2 = df_original.totaldistance[df_original['hashedathleteid'].str.contains(list_of_ids[2])]
#df_original.loc[df_original['hashedathleteid'] == list_of_ids[1]]

#inter_df['runnerA'] = list1
in_df['runnerB'] = list2
in_df.set_index('startdatelocal')
in_df

               startdatelocal  totaldistance  runnerB
599629    2015-07-17 09:36:18         4745.0      NaN
10192609  2014-08-14 17:26:50        17617.7      NaN
10199792  2014-07-15 17:16:02         4061.3      NaN
10208121  2014-08-09 14:25:15        11152.0      NaN
10212572  2014-08-13 11:26:51         4777.5      NaN
...                       ...            ...      ...
334211550 2016-05-06 06:04:24         6240.7      NaN
334546597 2015-07-18 09:21:01         8011.3      NaN
340269177 2014-08-18 20:57:58         6207.4      NaN
344439410 2016-04-16 10:10:52         1217.0      NaN
345128059 2015-07-16 08:01:14         9420.6      NaN

[161 rows x 3 columns]